* {
    box-sizing: border-box;
}
body {
    background-color: #343a40;
    overflow: hidden;
    .options-footer {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}
